/* === CV Page Specific Styles === */

.cv-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: left;
}

.cv-container h2 {
  font-size: 1.6rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.cv-container .title {
  font-size: 1.4rem;
  color: var(--color-accent);
  margin-bottom: 2rem;
}

.cv-section {
  margin-bottom: 2rem;
}

.cv-section h3 {
  font-size: 1.75rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.cv-section p,
.cv-section ul {
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.6;
}

.experience-item {
  padding-bottom: 1rem;
}

.experience-list {
  list-style-type: none;
  padding: 0;
}

.professional-tags {
  list-style-type: none;
  padding: 0;
}

.professional-tags li {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--color-text); /* You can change the background color */
  color: var(--color-background); /* You can change the text color */
  border-radius: 20px; /* Adjust the value to control the roundness */
}

.skills-icons {
  font-size: 2.5rem;
}

.education-item {
  list-style-type: none;
}
/* Responsive Design for smaller devices */
@media (max-width: 768px) {
  .cv-container {
    margin: 0.2rem auto;
  }
  .cv-container h2 {
    font-size: 1.4rem;
  }

  .cv-container .title {
    font-size: 1rem;
  }

  .cv-section h3 {
    font-size: 1.5rem;
  }
}
