/* Global Style Variables */
:root {
  --primary-color: #000000;
  --background-color: #ffffff;
  --container-bg-color: #f2f2f2;
  --link-color: #d3d3d3;
  --link-hover-color: #a8a8a8;
  --font-family: 'libre Franklin';
  --profile-picture-border-color: #a8a8a8;
  --border-radius: 5px;
  --transition-speed: 0.3s;
}

/* Dark Mode Style Variables */
:root[data-theme="dark"] {
  --primary-color: #ffffff;
  --background-color: #000000;
  --container-bg-color: #2e2e2e;
  --link-color: #555555;
  --link-hover-color: #7e7e7e;
  --profile-picture-border-color: #555555;
}

/* Base Styles */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  padding: 20px;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* Container */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  transition: background-color var(--transition-speed);
}

/* Header */
.header h1 {
  font-size: 2em;
}

/* Profile Picture */
.profile-picture {
  width: 128px;
  height: 200px;
  border: 3px solid var(--profile-picture-border-color);
  border-radius: 50%;
  margin-bottom: 10px;
  transition: border-color var(--transition-speed);
}

/* Links and Link Items */
.links, .link-item, .social-media, .social-link {
  margin-top: 20px;
}

.link-item {
  display: block;
  background-color: var(--link-color);
  color: #fff;
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: bold;
  transition: background-color var(--transition-speed);
}

.link-item:hover {
  background-color: var(--link-hover-color);
}

/* Social Media Icons */
.social-icon {
  padding: 0 10px;
  stroke: currentColor;
}

.social-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 0 10px;
}

.feather {
  width: 28px;
  height: 28px;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* Health Info */
.health-info {
  text-align: left;
}

/* Theme Toggle Button */
.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.icon-light, .icon-dark {
  display: none;
}

:root[data-theme="dark"] .icon-light,
:root:not([data-theme="dark"]) .icon-dark {
  display: block;
}

.icon-light {
  color: var(--primary-color);
}
