:root {
    /* Fonts */
  
    /* Light theme colors */
  
    /* Dark theme colors */
  
    /* Fonts color */
  
    /* Border radius */
  }
  
  body {
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);  color: #090c08;
    color: #090c08;
    padding-top: 40px; /* Adjust the value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    overflow: visible;
}  
  
  a:link, 
  a:visited {
    color: #f5eff9; 
  }
  
  a:active, 
  a:hover {
    color: #dad4ec; 
  }
  
  div {
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 0 10px;
    margin-bottom: 5px;
  }
  
  #theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #060d14; 
  }
  
  .dark-theme #theme-toggle {
    color: #F5FAFD; 
  }
  
  .dark-theme {
    color: #F5FAFD; 
    background: #060d14;
  }
  
  .dark-theme .parent {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  }
  
  .dark-theme a:link, 
  .dark-theme a:visited {
    color: #f5eff9; 
  }
  
  .dark-theme a:active, 
  .dark-theme a:hover {
    color: #102239; 
  }
  
  .parent {
    position: relative;
    background: linear-gradient(109.6deg, rgb(185, 212, 242) 11.2%, rgb(244, 210, 226) 100.3%);  
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    padding: 30px; /* Adding padding to give more space for the contents */
    box-sizing: border-box;
  }
  
  .resume {
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  .resume-content {
    text-align: left;
    overflow-y: auto;
  }
  
  .social-icons, .skills-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }

  .menu {
    display: flex;
    flex-direction: row; /* Changed from column to row to have it on top as navigation bar */
    justify-content: center; /* Spread the menu items evenly across the horizontal line */
    position: relative; /* Changed from absolute to relative */
    padding-bottom: 30px; /* Added some padding to the bottom to give space between menu and content */
  }
  
  
  .menu i {
    font-size: 30px; /* Adjust the size of the icons as needed */
    padding-top: 10px;
    margin-bottom: 0; /* Remove spacing between icons */
    margin-right: 12px; /* Add spacing between icons horizontally */
  }     
  
  .menu img {
    width: 30px; /* Adjust the size of the icons as needed */
    height: 30px; /* Adjust the size of the icons as needed */
    margin-bottom: 10px; /* Add spacing between icons */
  }

  .scrollable-content {
    max-height: 100%;
    overflow-y: auto;
    padding-left: 0; /* Removed the padding to align the text with the menu items */
  }

  /* CSS for job description layout */
.resume-content {
    text-align: left;
    overflow-y: auto;
  }
  
  .exp-dates, .location, h4, p {
    margin-bottom: 10px; /* Add some space between elements */
  }
  
  .exp-dates {
    font-weight: bold;
  }
  
  h4 {
    text-transform: uppercase; /* Make the job title stand out more */
  }
  
  .location {
    font-style: italic; /* Differentiate the location from the rest of the text */
  }

  .project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    gap: 20px;
  }
  
  .project-card {
    flex: 0 0 auto;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 10px;
    scroll-snap-align: start;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .project-image {
    width: 40%;
    height: auto;
  }
  
  .project-description {
    width: 55%;
  }
  
  .view-project-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: right;
  }  

  .footer {
    margin-top: 30px; /* Give some space before the footer */
    text-align: center;
    font-size: 0.8em;
  }

  @media (max-width: 600px) {
    .scrollable-content {
        padding-left: 20px;
    }
    
    .menu {
      flex-direction: row; /* Switch to horizontal layout in mobile view */
      justify-content: center; /* Center align icons horizontally */
      align-items: center; /* Center align icons vertically */
      position: relative;
      top: initial;
      left: initial;
    }

    .menu i {
        font-size: 20px; /* Adjust the size of the icons as needed */
        padding-top: 10px;
        margin-bottom: 0; /* Remove spacing between icons */
        margin-right: 12px; /* Add spacing between icons horizontally */
      }      
  }
  