:root {
  --primary-font-family: "Mukta", sans-serif;
  --secondary-font-family: "Raleway Dots";
  --main-bg-color: #2a2438;
  --primary-color: #dbd8e3;
  --secondary-color: #5c5470;
}

body {
  color: var(--primary-color);
  background-color: var(--main-bg-color);
}

header {
  padding: 75px 0px;
}

h1,
h2,
h3 {
  font-family: var(--primary-font-family);
}

h4,
h5,
h6 {
  font-family: var(--secondary-font-family);
}

ul {
  padding-left: 0px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

.contact {
  list-style: none;
  line-height: 2.4em;
}

.navbar-brand {
  background-color: var(--main-bg-color);
  color: var(--primary-color);
}
.nav-link {
  color: var(--primary-color);
}
.disabled {
  color: var(--primary-color);
}

.main-select-projects {
  list-style: none;
}

.btn-projects {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 3px;
  border-color: var(--primary-color);
}

.card {
  color: #2a2438;
}

.about-img {
  border-radius: 25% 10%;
  width: 500px;
}

.side-social {
  width: 40px;
  position: fixed;
  bottom: 15px;
  left: 20px;
  right: auto;
  z-index: 10;
}
.social-list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  line-height: 2.3em;
  list-style: none;
}

.side-email {
  font-size: 18px;
  font-family: "Raleway Dots";
  width: 40px;
  position: fixed;
  bottom: 15px;
  left: auto;
  right: 20px;
  z-index: 10;
}
.email-main {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  writing-mode: vertical-rl;
}

.ten-things {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 1000px) {
  .main-about {
    text-align: left;
  }
  .skills {
    text-align: left;
  }
  .random-facts {
    text-align: left;
  }
  .ten-things {
    padding-left: 0px;
  }
  .side-social {
    display: none;
  }
  .side-email {
    display: none;
  }
  .footer {
    text-align: left;
  }
  .projects {
    text-align: center;
  }
  .card {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: none;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
}

@media (min-width: 700px) {
  .footer {
    display: none;
  }
}
