:root {
  /* Fonts */

  /* Light theme colors */

  /* Dark theme colors */

  /* Fonts color */

  /* Border radius */
}

body {
  font-family: 'Roboto Slab', serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);  color: #090c08;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}


a:link, 
a:visited {
  color: #f5eff9; 
}

a:active, 
a:hover {
  color: #dad4ec; 
}

div {
  border-radius: 10px;
  text-align: center;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 0 10px;
  margin-bottom: 5px;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #060d14; 
}

.dark-theme #theme-toggle {
  color: #F5FAFD; 
}

.dark-theme {
  color: #F5FAFD; 
  background: #060d14;
}

.dark-theme .parent {
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.dark-theme a:link, 
.dark-theme a:visited {
  color: #f5eff9; 
}

.dark-theme a:active, 
.dark-theme a:hover {
  color: #102239; 
}

.parent {
  position: relative;
  background: linear-gradient(109.6deg, rgb(185, 212, 242) 11.2%, rgb(244, 210, 226) 100.3%);  
  margin: 8vw 10vw;
  height: 650px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.resume {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.resume-section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-top: 120px;
  padding-bottom: 60px;
}

.resume-content {
  text-align: left;
}

.education-content {
  display: flex;
}

.education-dates {
  flex: 1;
  padding-right: 20px;
}

.education-details {
  flex: 3;
}

.child {
  position: absolute;
  width: 400px;
  height: 750px;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
}

.child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px 20px;
}

.social-icons {
  font-size: 12px; /* Adjust the size of the icons as needed */
  padding-right: 18px;
}

.social-icons, .skills-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.skills-icons i {
  font-size: 40px; /* Adjust the size of the icons as needed */
  padding-top: 10px;
  margin-bottom: 0; /* Remove spacing between icons */
  margin-right: 12px; /* Add spacing between icons horizontally */
}   

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 10px;
}

.menu i {
  font-size: 32px; /* Adjust the size of the icons as needed */
  padding-top: 20px;
  margin-bottom: 0; /* Remove spacing between icons */
  margin-right: 12px; /* Add spacing between icons horizontally */
}  

.menu img, .row img {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;

}

.cv-download {
  padding-top: 250px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
} 

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
}

@media (max-width: 768px) {  /* 768px is a common breakpoint for tablets and below */
  body {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    display: none;
  }

  footer {
    padding-top: 25px;
  }

  .parent {
    margin-top: 3px;
    grid-template-columns: 1fr;  /* Stack content in a single column */
    display: flex; /* Use flex layout */
    flex-direction: column; /* Arrange children vertically */
  }

  .menu {
    order: 1; /* Will be the first */
  }

  .child {
    position: static;  /* Removes absolute positioning */
    width: 100%;  /* Full width of the parent */
    height: auto;  /* Adjusts the height */
    padding-left: 55px;
    transform: none;  /* Removes the transform */
    margin: 0;  /* Centering the image */
    order: 2; /* Will be the second */
  }

  .social-icons {
    order: 3; /* Will be the third */
  }

  .menu, .social-icons {
    position: static;  /* Removes absolute positioning */
    flex-direction: row;  /* Makes menu horizontal */
    justify-content: center;  /* Centering the menu */
    margin-bottom: 10px;  /* Space below the menu */
    flex-wrap: wrap;  /* Allow icons to wrap onto next line if needed */
    z-index: 999; /* High z-index to ensure it is on top */
  }

  .menu i, .social-icons i {
    font-size: 24px; /* Adjust the size of the icons as needed, made smaller for mobile */
    padding-top: 10px; /* Adjust spacing between icons */
  }

  .cv-download {
    padding: 0;
  }
  

  .resume {
    display: none;  /* Hides the content on the right */
  }
}
